# W3 D2 Python Basics I
Instructor: Steve Mitchell

### Agenda

- Syntax
- Data Types
- For Loops
- While Loops
- Control Flow (If and Else Statements)

We're mainly going to focus on the core operations, the ones that you will use most often. There is much, much more that you can do with all of the different data types in Python.

There's a lot here so it may seem pretty dry, but it will be useful for you going forward as a quick Python cheatsheet.

### Whitespace
- Python programs are organized with one statement per line.
- Each statement occupies one line, and is separated by a line break.
- Some code blocks (loops, functions, etc) are created with indents.

#### Separating statements

rust uses semicolons:
```rust
// addition
add = 5 + 6;
// subtraction
sub = 1 - 2;
```

lisp uses parentheses:
```lisp
;addition
(setq add (+ 5 6))
;subtraction
(setq sub (- 1 2))
```

python uses **line breaks**:
```python
# addition
add = 5 + 6
# subtraction
sub = 1 - 2
```

```MySQL
SELECT *
FROM order_details
```

#### Code blocks/functions
javascript uses braces (curly brackets):
```javascript
function mult(num1, num2) {
	return num1 * num2;
}
```

python uses **indents**:
```python
def mult(num1, num2):
	return num1 * num2
```

### Variables

- Variables are names that we give to objects that we store something in.

**Why use Variables?**
- Helps organize our code.
- Store data.
- Reuse data again and again.

In [124]:
var_info = 'variables hold data. assign them with the = sign'

In [ ]:
print(var_info)

In [ ]:
var_info

- Students often wonder when to use quotations (strings) and when not to (variables, keyword arguments, reserved words).
```python
	variable = "text"
```
- Variable on the left, string on the right.

### Built in Data Types - Values and Objects

- Values: pieces of data that a computer program works with, such as a number or text.
- We will assign a lot of these values to objects (variables) with the assignment operator `=`.
- These values will always belong to a data type, just like in SQL.


Here are some data types built-in to the Python language:

* Integers - `int`
* Floating-point numbers - `float`
* Strings - `str`
* Booleans - `bool` - two values: True and False.
* Lists - `list`
* Tuples - `tuple`
* Sets - `set`
* Dictionaries - `dict`

### Integers & Floats

In [134]:
a = 4

In [135]:
b = 4.0

In [137]:
# use the type() function to check the type of variable a
type(a)

int

In [138]:
# use the type() function to check the type of variable b
type(b)

float

In [139]:
# use the type() function to check the type of variable var_info
type(var_info)

str

### Arithmetic with Variables

In [143]:
a = -2
b = 12.9

# Arithmetic
c = a + 1    # Arithmetic with literals and variables
c = a + b    # Arithmetic with just variables
c = c + a    # c becomes its old value + a
c += a       # same thing with different notation
c = a - b    # Subtraction
c = a * b    # Multiplication
c = b / a    # Division
c = (a + b) * 2 - a    # Compound calculations - PEMDAS
c = b // a   # floor division
c = 9%2      # remainder
c = a ** b   # exponents

c

(-7269.311336607268+2361.942431312854j)

In [146]:
# round 2.543 to have 2 decimals
round(2.543, 2)

2.54

In [154]:
# interesting case: round 2.5
round(2.5)

2

#### Type Casting ints and floats

In [149]:
# cast int to float
float(3)

float

In [150]:
# cast float to int
int(3.0)

3

In [155]:
round(3.9)

4

In [157]:
round(3.49)

3

### Strings

In [164]:
# Strings are a sequence of symbols in quotes
# Without the quotes, Python tries to interpret text as variable names

a = "IMAGINATION is more important than knowledge"


# Strings can contain any symbols, not just letters
b = 'The Meaning of Life is 42.'

c = '''this
is a
multiline'''


# single, double, triple single, and triple double quotes

# Concatenation (combining)
d = a + ", but not as important as learning to code."


# Functions on strings
# Note: these functions don't change the original variables.
# They return copies with the function applied
e = b.upper()
f = b.lower()
g = b.capitalize()

print('Hello, how are you?'.lower())

hello, how are you?

In [167]:
g

'The meaning of life is 42.'

#### Type casting with strings

In [168]:
# anything can be cast TO a string, but not the other way around
# cast a numeric type to a string
print(str(3.886))
str(3)
# notice that I don't need a print statement on line 4, but I do on line 3
# in a notebook, you don't need to use the print statement if it's the last line of code in a cell
# notice how we have comments below line 4 but we don't need the print statement

3.886

'3'

In [171]:
# cast a string to a numeric type
# print(int('three')) # this doesn't work
print(int('3'))
float('3.6')

3

3.6

***

## Advanced Data Types

### Lists

- **Mutable** and **ordered** sequence of objects.
- Can be indexed, sliced, and changed.
- Lists can be used for any type of object, from numbers and strings to more lists.

In [1]:
# Without lists, individual and unrelated variables
# (imagine if you had hundreds of names)
person1 = 'Mal'
person2 = 'Zoe'
person3 = 'Wash'
person4 = 'Jayne'
person5 = 'Kaylee'

# Using lists, a data structure that contains many values
people = ['Mal', 'Zoe', 'Wash', 'Jayne', 'Kaylee']

# List creation
empty_list = [] # brackets (square brackets)
small_list = [2.3, 1, 'hello'] # List elements separated by commas

In [2]:
small_list

[2.3, 1, 'hello']

- In Python, lists can have different data types in them unlike many programming languages.
- This consumes more memory and sacrifices speed for ease of use.

In [3]:
large_animals = ['African Elephant', 'Asian Elephant', 'White Rhinoceros',
				 'Hippopotamus', 'Gaur', 'Giraffe', 'Walrus', 'Black Rhinoceros',
				 'Saltwater Crocodile', 'Water Buffalo']

In [4]:
# Access elements in a list using index
large_animals[-2]

'Saltwater Crocodile'

In [5]:
# Finding index of an item in a list using .index()
large_animals.index('Walrus')

6

In [6]:
# length of a list
len(large_animals)

10

In [7]:
# Slicing [start:stop:step]
large_animals[1:7:2]

['Asian Elephant', 'Hippopotamus', 'Giraffe']

In [8]:
zero_to_ten = list(range(10))
zero_to_ten

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
zero_to_ten[1:7:2]

[1, 3, 5]

In [10]:
# Slicing backwards
large_animals[7:1:-2]

['Black Rhinoceros', 'Giraffe', 'Hippopotamus']

In [11]:
# changing values: change index 3 to 'Hippo'
large_animals[3] = 'Hippo'
large_animals

['African Elephant',
 'Asian Elephant',
 'White Rhinoceros',
 'Hippo',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [12]:
# changing values - be careful with slices
large_animals[:4] = 'Bear'

In [13]:
large_animals

['B',
 'e',
 'a',
 'r',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [14]:
large_animals[:4] = ['Bear', 'Bear', 'Bear', 'Bear']

In [15]:
large_animals

['Bear',
 'Bear',
 'Bear',
 'Bear',
 'Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [16]:
# deleting: using empty list []
large_animals[:4] = []

In [17]:
large_animals

['Gaur',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [18]:
# using del
del large_animals[1]

In [19]:
large_animals

['Gaur', 'Walrus', 'Black Rhinoceros', 'Saltwater Crocodile', 'Water Buffalo']

In [20]:
# extending via .append()
# we don't overwrite the existing variable because lists are MUTABLE
large_animals.append('Bear')

In [21]:
large_animals

['Gaur',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo',
 'Bear']

In [22]:
# extending via concatenation of a list
large_animals += ['Bear', 'T-rex']

In [23]:
large_animals

['Gaur',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo',
 'Bear',
 'Bear',
 'T-rex']

In [24]:
# Lists within lists
animal_kingdom = [
	['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']],
	['Whale', 'Dolphin', 'Shark', 'Eel'],
	['Eagle', 'Robin']
]
animal_kingdom

[['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']],
 ['Whale', 'Dolphin', 'Shark', 'Eel'],
 ['Eagle', 'Robin']]

In [25]:
# indexing practice - how to access the dolphin?
animal_kingdom[0][3][1]

'Big Cat'

In [26]:
# how about cat?
animal_kingdom[0][3][0]

'Cat'

#### String and List Similarities

In [27]:
# slices can be returned from strings the same as lists
a = 'this is really symbols just a list of symbols called characters'
a

'this is really symbols just a list of symbols called characters'

In [28]:
# access a character
a[8]

'r'

In [29]:
# access a slice
a[12:4:-3]

'les'

In [30]:
# splitting strings into lists using .split()
# the default argument to the split method is a space so we don't have to specify it
a.split()

['this',
 'is',
 'really',
 'symbols',
 'just',
 'a',
 'list',
 'of',
 'symbols',
 'called',
 'characters']

In [31]:
# splitting by a substring
a.split(' just ')

['this is really symbols', 'a list of symbols called characters']

***

### Tuple
- **immutable** and **ordered** objects.
- Similar to a list, but without some functionalities.
- Indexing and splitting similar to lists.
- More efficient.

In [32]:
# definition - parentheses (round brackets) and elements separated by commas
a = ('Steve', 'Canada', 'python')

In [33]:
# getting the size of a tuple (or list) usng len()
len(a)

3

In [34]:
# accessing one element
a[1]

'Canada'

In [35]:
# accessing a sequence of entries using slicing
a[::-1]

('python', 'Canada', 'Steve')

In [36]:
# "unpacking" tuples (or lists)
name, country, language = a

In [37]:
language

'python'

In [38]:
# combining tuples
a = a + ('SQL', 'R')
a

('Steve', 'Canada', 'python', 'SQL', 'R')

In [39]:
# checking membership using in - this is faster with tuples
'python' in a

True

In [40]:
# cannot modify tuple objects
# they are 'immutable' (this is the essential difference from lists)
a[1] = 'SQL'

TypeError: 'tuple' object does not support item assignment

- Tuples can be used as "keys" in dictionary data structures (which we'll see below), whereas lists cannot.

***

### Dictionaries

- Quite different from lists.
- Elements are accessed using 'keys' rather than order/index.
- 'keys' can take on numerous data types (str, int, float, tuple).
	- As long as the data type is ['hashable'](https://towardsdatascience.com/iterable-ordered-mutable-and-hashable-python-objects-explained-1254c9b9e421#:~:text=In%20particular%2C%20all%20the%20primitive,sets%2C%20and%20bytearrays%20are%20unhashable.).

In [233]:
# definition - braces, keys and values separated by colons,
# commas between key/value pairs
x = {
	'Student_ID': [1, 2, 3],
	'Student_Name': 42,
	'degree': ['marketing', 'computer science', 'snake studies']
}

In [234]:
# access a value
x['Student_ID']

[1, 2, 3]

In [235]:
# modifying or adding values
x['Student_Name'] = 'Homer Simpson'
x

{'Student_ID': [1, 2, 3],
 'Student_Name': 'Homer Simpson',
 'degree': ['marketing', 'computer science', 'snake studies']}

In [236]:
# adding keys and values
x['hobbies'] = ['sleeping', 'donut eating']
x

{'Student_ID': [1, 2, 3],
 'Student_Name': 'Homer Simpson',
 'degree': ['marketing', 'computer science', 'snake studies'],
 'hobbies': ['sleeping', 'donut eating']}

In [237]:
# retrieving keys
x.keys()

dict_keys(['Student_ID', 'Student_Name', 'degree', 'hobbies'])

In [238]:
# retrieving values
x.values()

dict_values([[1, 2, 3], 'Homer Simpson', ['marketing', 'computer science', 'snake studies'], ['sleeping', 'donut eating']])

In [239]:
# retrieving keys and values (items)
x.items()

dict_items([('Student_ID', [1, 2, 3]), ('Student_Name', 'Homer Simpson'), ('degree', ['marketing', 'computer science', 'snake studies']), ('hobbies', ['sleeping', 'donut eating'])])

- Note: Dictionaries should not be used as 'ordered' data types like lists, and it is dangerous to write your code in a way that uses the order of a dictionary.  Dictionaries are ordered in newer versions of Python but not in old versions.

- It makes no sense to say that the 'student_name'th entry comes before the 'degree'th entry, even though this is how we have written it above.

***

### Sets

- Unordered, meaning there is no element 0 and element 1 etc...
- The values contained are unique - meaning there are no duplicate entries.
- Because of this, sets are good for removing duplicates from lists.

In [240]:
# definition - braces and commas between elements
my_set = {2, 1.0, 'apple', 1.0, 'apPle'}
my_set

{1.0, 2, 'apPle', 'apple'}

In [243]:
# delete duplicates from a list using set()
lst = [2, 4, 5, 1, 2, 6, 4.0, 'hello', 'hello']
print(len(lst))
print(set(lst))
len(set(lst))

9
{1, 2, 4, 5, 6, 'hello'}

6

### Summary

|Data Structure	| Preserves order | Mutable | Symbol| Can contain duplicates | Can be sliced |
|---------|------|------|------|------|------|
|str	|✓	|☓	|''  , ""|	✓|✓|
|list	|✓	|✓	|[] |	✓|✓|
|tuple	|✓	|☓	|() |	✓|✓|
|set	|☓	|✓	|{} |	☓|☓|
|dict  |✓	|✓	|{key: value} | 	☓| ☓|

***

### Booleans and Comparison

In [244]:
a = True

In [245]:
a

True

In [246]:
a = 14
b = 5

In [247]:
# equal
a == b # False

False

In [248]:
# not equal
a != b

True

In [74]:
# not going to work in python
# a <> b

In [249]:
# greater than
a > b

True

In [250]:
# greater than or equal to
a >= b

True

In [251]:
# less than
a < b

False

In [252]:
# less than or equal to
a <= b

False

In [253]:
# equality with strings
a = '1 2 3'
b = 'one two 3'

In [254]:
a == b

False

In [257]:
3 == 3.0

True

In [258]:
# logic operators (compound boolean expressions)

# and - both must be True
snow = False
temperature = 28
camping = (temperature > 25) and (snow == False)
camping

True

In [260]:
snow = True
camping = temperature > 25 and snow == False
camping

False

In [262]:
# or - either must be True
has_coffee = True
has_beer = True
has_both = has_coffee or has_beer
has_both

True

In [263]:
has_coffee = False
has_coffee or has_beer

True

### Control Structure (also refered to **control flow**): if/elif/else Statements

- Essential programming concept, in any langauge. 
- Allows the code to 'react' to circumstances.
- Executes code only if a certain condition is met.

```python
if [boolean expression]: # starts with if keyword then test condition
	[what to do when the boolean expression evaluates to True]
else:   # optional
	[what to do when the boolean expression evaluates to False]
```

In [264]:
# using the data structure above, let's output something different depending on
# whether or not someone passed the course
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}
pass_mark = 85

In [265]:
# did Linda pass?
if course_marks['Linda'] >= pass_mark:
	print('Linda has passed')
else:
	print('Linda has not passed')

Linda has not passed

#### ifs and elifs
```python
if [boolean expression]: # starts with if keyword then test condition
	[what to do when the boolean expression evaluates to True]
elif: [boolean expression] # optional
	[what to do when the boolean expression evaluates to True]
else: # optional
	[what to do when the boolean expression evaluates to False]
```

In [266]:
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}
# print Linda's letter grade using if/else
if course_marks['Linda'] >= 90:
	print('A')
elif course_marks['Linda'] >= 80:
	print('B')
elif course_marks['Linda'] >= 70:
	print('C')
elif course_marks['Linda'] >= 60:
	print('D')
else:
	print('F')

B

### Nested ifs

In [267]:
a = 1
if a > 0:
	print('positive')
elif a == 0:
	print('zero')
else:
	print('negative')

positive

In [268]:
a = 1

if a >= 0:
	if a == 0:
		print('zero')
	else:
		print('positive')

else:
	print("negative")

positive

### Control Flow: for-Loops (definite iterations)

If all we were able to do with lists, tuples, and dictionaries was store data in them, they would essentially
just be useful for organizing our code and nothing else.
Luckily, we can iterate through them using "for" loops. The "for" loop
has the following format:
```python
for [loop variable] in [iterable object]:
	[code to execute using loop variable]
```

In [269]:
# simple for loop: print every character
for ch in 'Hello, World!':
	print(ch)

H
e
l
l
o
,

W
o
r
l
d
!

In [276]:
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}

students = course_marks.keys()
marks = course_marks.values()
pass_mark = 85

# print every grade
for m in marks:
	print(m)

84
100
12

In [277]:
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}

student_names = course_marks.keys()
marks = course_marks.values()
pass_mark = 80

# for each student, print if they passed the course
for student in student_names:
	print(student)
	
	if course_marks[student] >= pass_mark:
		print(student + ' has passed')
	else:
		print(student + ' has not passed')

Linda
Linda has passed
Andrew
Andrew has passed
Jasmine
Jasmine has not passed

In [278]:
animal_kingdom = [
	['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']],
	['Whale', 'Dolphin', 'Shark', 'Eel'],
	['Eagle', 'Robin']
]

In [279]:
# how can we print all animals one by one?
for animal_list in animal_kingdom:
	for animal_or_list in animal_list:
		# print(type(animal_or_list))
		if type(animal_or_list) == list:
			for animal in animal_or_list:
				print(animal)
		else:
			print(animal_or_list)

Elephant
Tiger
Dog
Cat
Big Cat
Whale
Dolphin
Shark
Eel
Eagle
Robin

In [280]:
# summing lists
course_marks = [100, 90, 95, 80, 70]
marks_sum = 0 # accumulator

# add them all up with a loop
for mark in course_marks:
	marks_sum += mark
	print(marks_sum)

print()d
marks_sum

100
190
285
365
435

435

In [281]:
# iterating through lists (or tuples) by their index
# this is necessary to change values in a list
course_marks = [82, 100, 12]

# reduce each grade by 5
for i in range(len(course_marks)):
	course_marks[i] -= 5

course_marks

[77, 95, 7]

In [282]:
course_marks = {'Linda': 72, 'Andrew': 100, 'Jasmine': 12}

# iterating through dictionary keys
for student in course_marks.keys():
	print(student)

Linda
Andrew
Jasmine

In [283]:
# iterating through dictionary values
for val in course_marks.values():
	print(val)

72
100
12

In [284]:
# what about iterating through a dictionary itself?
for student in course_marks:
	print(student)

Linda
Andrew
Jasmine

In [285]:
# iterating through items
for student, val in course_marks.items():
	print(student, val)

Linda 72
Andrew 100
Jasmine 12

### Control Flow: While Loops (aka. indefinite iterations)

- Sometimes, we don't want our loop to iteratate through the values of some data structure, but
instead want it to execute until some condition is no longer met. For this, we use a "while" loop, which has the
following format:

```python
while [boolean expression]: #starts with a while keyword, followed by a test condition, ends with a colon :
	[what you want to do each iteration] #loop body contains code that gets repeated. Must be indented 4 spaces.
```

In [286]:
# simple
n = 10
# print all numbers from n to 0
while n >= 0:
	print(n)
	n -= 1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# BE CAREFUL with INFINITE LOOPS, you'll break your computer and end up in the matrix
# can be useful, for example with code that interacts with hardware
# may use an infinite loop to constantly check whether a button or switch has been activated

# CTRL + C forces a command line process to quit

In [ ]:
# while True:
#   print('infinite loop!')

In [287]:
# break out of the loop with the break statement
i = 0
while True:
	print(i)
	i += 1
	if i == 5:
		break

0
1
2
3
4

***

### Cooking Challenge

Alberto is making spaghetti tonight and he needs to make sure that if he doesn't have enough of the ingredients in his pantry, he adds them to his shopping list.

- For each item in the recipe, check if the ingredient is in Alberto's pantry.

- If the recipe ingredient is in the pantry, check if the recipe requires more of the ingredient than what Alberto has in storage. If so, add the name and the quantity he needs to purchase as key-value pairs in the dictionary shopping_list.

- If the recipe item is not in the pantry, add the ingredient and the quantity as **key-value pairs in the dictionary** shopping_list.

In [111]:
pantry = {
		'pasta': 3, 'garlic': 4, 'sauce': 2,
		'basil': 2, 'salt': 3, 'olive oil': 3,
		'rice': 3, 'bread': 3, 'peanut butter': 1,
		'flour': 1, 'eggs': 1, 'onions': 1, 'mushrooms': 3,
		'broccoli': 2, 'butter': 2,'pickles': 6, 'milk': 2,
		'chia seeds': 5
	}

meal_recipe = {
		'pasta': 2, 'garlic': 2, 'sauce': 3,
		'basil': 4, 'salt': 1, 'pepper': 2,
		'olive oil': 2, 'onions': 2, 'mushrooms': 6
	}


shopping_list = dict()

```
1. You have a meal recipe and you have a pantry.
2. You read item by item in the meal recipe.
3. FOR each item, you verify IF you have the item in your pantry.
	3a. IF you meet the previous condition, you verify IF you have enough of that item.
4. ELSE you add the amount of ingredient that you need to your shopping list.
```

In [288]:
### Solution
for item in meal_recipe.keys():
	needed_amount = meal_recipe[item]
	# check if item is in pantry
	if item in pantry.keys():
		# check if we have enough
		pantry_amount = pantry[item]
		difference = needed_amount - pantry_amount
		if difference > 0:
			# we need to buy that difference
			shopping_list[item] = difference
	else:
		# we don't have this item
		shopping_list[item] = needed_amount

In [289]:
shopping_list

{'sauce': 1, 'basil': 2, 'pepper': 2, 'onions': 1, 'mushrooms': 3}

***

### Prison Break

- A prison cellblock can be represented as a list of cells. Each cell contains exactly one prisoner. A 1 represents an unlocked cell and a 0 represents a locked cell.

- Starting from the leftmost cell, you are tasked with seeing how many prisoners you can set free, with a catch. Each time you free a prisoner, the locked cells become unlocked, and the unlocked cells become locked again.

#### Detailed Example:

```python
[1, 1, 0, 0, 0, 1, 0]
# You free the prisoner in the 1st cell.

[0, 0, 1, 1, 1, 0, 1]
# You free the prisoner in the 3rd cell (2nd one locked).

[1, 1, 0, 0, 0, 1, 0]
# You free the prisoner in the 6th cell (3rd, 4th and 5th locked).

[0, 0, 1, 1, 1, 0, 1]
# You free the prisoner in the 7th cell - and you are done!
```

- Here, we have freed 4 prisoners in total.

- Create a function that, given this unique prison arrangement, returns the number of freed prisoners.

#### Examples:

```python
freed_prisoners([1, 1, 0, 0, 0, 1, 0]) ➞ 4
freed_prisoners([1, 1, 1]) ➞ 1
freed_prisoners([0, 0, 0]) ➞ 0
freed_prisoners([0, 1, 1, 1]) ➞ 1
```

#### Notes

- You must free a prisoner in order for the locks to switch. So in second example where the input is [1, 1, 1], after you release the first prisoner, the locks change to [0, 0, 0]. Since all cells are locked, you can release no more prisoners.

- You always start with the leftmost element in the list (the first prison cell). If all the prison cells to your right are zeroes, you cannot free any more prisoners.

### Please send me your solution on discord.  Use the test cases above to test it and remember that the answer must be returned at the end of the function.

```python
def freed_prisoners(cellblock):

	return answer
```